* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* DIFFICULTY PAGE */
.difficulty-container {
  background-image: url("/src/images/targaryen-banner.svg");
  flex-grow: 1;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 255);
  flex-direction: column-reverse;
}

.difficulty-h3 {
  color: #f7f7ff;
}

.difficulty-h3-buttons-div {
  display: flex;
  justify-content: center;
  display: flex;
  flex-basis: 80px;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #6f4451;
}

/* HEADER */
.header {
  display: flex;
  flex-grow: 1;
}

/* EASY */

.image {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.img-cards {
  display: grid;
  gap: 25px;
  grid-template-rows: max-content;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-p {
  color: #f7f7ff;
}

.card-p-div {
  align-self: center;
}
